<section id="banner">
    <div class="content">
        <header>
            <h1>Quality Assurance Analysis</h1>
            <p>Software analysis is the basis for test cases definition. 
                Here you can find strategies to solve complex software implementations</p>
        </header>
        <!--ul class="actions">
            <li><a href="#" class="button big">About me</a></li>
        </ul-->
    </div>
    <span class="image object">
        <img src="/images/front-helloquence-unsplash.jpg" alt="" />
    </span>
</section>