<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2><a href="/">Quality Assurance Analysis</a></h2>
                </header>
                <h4>Articles</h4>
                <ul>
                    {% for post in site.posts %}
                    
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>

                    {% endfor %}
                    

                </ul>
            </nav>

        <!-- Section -->
            <section>
                <h4>Get in touch</h4>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:mouratesting@gmail.com">mouratesting@gmail.com</a></li>
                    <!--li class="icon brands fa-twitter"><a href="https://twitter.com/MouraTesting">mouraTesting</a></li-->
                    <li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/mouracarina">mouracarina</a></li>
                </ul>
            </section>
    </div>
</div>