<!DOCTYPE html>
<html>
    
    {% include head.html %}

  <body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
                <div id="main">
                    <div class="inner">

                        <!-- Header -->
                        {% include header.html %}

                        <!-- Banner -->
                        {% include banner.html %}   

                        <!-- Section -->
                        <section>
                            <header class="major">
                                <h2>Articles</h2>
                            </header>
                            <div class="posts">
                                {% include posts_home.html %} 
                            </div>
                        </section>  
                    </div>
                </div>

                {% include sidebar.html %}
        </div>
</body>
<script src="/assets/js/main.js"></script>
</html>